.login {
  &-page {
    height: 100vh;
    position: relative;
  }
  &-title {
    font-size: 30px;
    text-shadow: 2px 1px 4px grey;
    letter-spacing: 1.5px;
    padding-bottom: 20px;
    color: #303f9f;
  }
}

.login {
  &-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 40px;
    box-shadow: 1px 1px 7px rgba(#061050, 0.4);
    border-radius: 5px;
  }
  &-btn {
    width: 100px;
    height: 40px;
  }
}
