.userinfo {
  &__container {
    padding: 10px;
    border: 1px solid black;
    height: 96%;
    border-radius: 5px;
    background-color: #303f9f;
    color: white;
    text-align: center;
    letter-spacing: 1.8px;

    h4 {
      margin: 15px 0 5px 0;
      letter-spacing: 1.2px;
      text-shadow: 3px 3px 6px rgba(black, 0.6);
    }
  }
}
